DATABASE_URL=postgresql://user:password@localhost:5432/inforens
CV_BUILDER_API_KEY=
SOP_BUILDER_API_KEY=
SCHOLARSHIP_FINDER_API_KEY=
CHATBOT_API_KEY=
TEST_API_KEY=
CONTENT_FILE=./inforens_scraped_data.txt
